.Parent {
    display: flex;
    justify-content: center;
}

.App {
    width: 200px;
    margin: 100px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: aquamarine;
}

.container {
    border: 2px solid black;
    margin: 5px;
    border-radius: 5px;
}

.likeACounter {
    padding: 10px 10px;
    border: 2px solid darkslategray;
    border-radius: 5px;
    margin: 5px;
    background-color: darkslategray;
    color: red;
    font-size: 14px;
}

